<ion-view view-title="Configuración">
  <ion-content>
    <div class="list">
    	<a class="item item-icon-left" href="#/app/usuariosConfig">
    		<i class="icon ion-person-stalker">	</i>
    		Usuarios
    	</a>
    	<a class="item item-icon-left" href="#/app/productosConfig">
    		<i class="icon ion-wrench">	</i>
    		Productos
    	</a>
    	<a class="item item-icon-left" href="#/app/temas">
    		<i class="icon ion-android-color-palette">	</i>
    		Temas
    	</a>
    </div>
  </ion-content>
</ion-view>
