<ion-view view-title="Mis Pedidos">
  <ion-content>
	<div class="list list-inset">
	  <label class="item item-input">
	    <i class="icon ion-search placeholder-icon"></i>
	    <input type="text" placeholder="Buscar">
	  </label>
	</div>
	
	<div class="list card" >
  		<div class="item item-text-wrap" align="center" ng-repeat="miPedido in misPedidos">	  				
  			<div class="row">	
		    	<div class="col"><p>{{miPedido.folio}}</p> <p>{{miPedido.cliente}}</p> <p>{{miPedido.fecha}}</p></div>
				<div class="col">
					<button class="button btn-circled button-balanced"><i class="icon ion-paper-airplane"></i></button>
					 </div>
				<div class="col">
					<button class="button btn-circled button-positive">
				   		<i class="icon ion-edit"></i>
				   	</button>
					</div>
			    <div class="col">
			    	<button class="button btn-circled button-assertive">
				   		<i class="icon ion-trash-b"></i>
			    	</button></div>
			</div>
	  	</div>
  	</div>
	   
  </ion-content>
</ion-view>
