<ion-view view-title="Logo">
  <ion-content>
  	
	<div id="category" class="list">

	  <label class="item item-input item-select">
	    <div class="input-label">
	      Categoría
	    </div>
	    <select>
	      <option>Blue</option>
	      <option selected>Green</option>
	      <option>Red</option>
	    </select>
	  </label>
	</div>

	<div id="usuariosItem" class="list list-inset">
	  <label class="item item-input">
	    <i class="icon ion-usuarios placeholder-icon"></i>
	    <input type="text" placeholder="Buscar...">
	  </label>
	</div>
	<div id="mainList">
	   <ion-list> 
	    	
	    		<ion-item ng-repeat="producto in productos" href="#/app/productos/{{producto.id}}"> 
		       			 <ion-thumbnail item-left>
		       			 	<img class="prod" src="/img/margarito.jpg">
		       			 </ion-thumbnail>

				    		<h2>
				    			{{producto.title}}
				    		</h2>
				    		<p>Descripcion
				    		</p>
				    		<!--<button ion-button clear item-right>Editar</button>-->
				    		<!--<ion-checkbox ng-model="isChecked"></ion-checkbox>-->
					
					    
		        </ion-item> 
		      	

    	</ion-list>
    </div>
  </ion-content>
</ion-view>
