<ion-view view-title="Logo">
  <ion-content>

	   <ion-list> 
	    	
	    		<ion-item ng-repeat="producto in productos" class="item-thumbnail-left" href="#/app/productos/{{producto.id}}"> 
		       			 
		       			 	<img class="prod" src="/img/margarito.jpg">
		       			 

				    		<h2>
				    			{{producto.title}}
				    		</h2>
				    		<p>Descripcion
				    		</p>
				    		<div align="center">
					    		<a class="button button-icon icon ion-edit" href="#"></a>
					    		<input type="checkbox"></ion-checkbox>
							</div>
					    
		        </ion-item> 
		      	

    	</ion-list>
    </div>
  </ion-content>
</ion-view>
