<ion-view view-title="Temas">
	<ion-content>
		<div class="list card">
			<div class="item item-avatar">
				<img src="/img/margarito.jpg">
				<h2>Tema 1</h2>
				<div class="edit-delete-btn" align="right">
				    <button class="button button-positive">
				   		<i class="icon ion-edit"></i>
				   	</button>
				   	<button class="button button-assertive">
				   		<i class="icon ion-trash-b"></i>
			    	</button>
			    </div>

			    <div class="item item-image">
			    	<img src="/img/margarito.jpg">
			    </div>
			    <a class="item item-icon-left positive" href="#">
			    	<i class="icon ion-ion-wand"></i>
			    </a>
			</div>
		</div>
	</ion-content>
</ion-view>