<ion-view view-title="Temas">
	<ion-content>
		<center><button class="button btn-add button-balanced">
			<i class="icon ion-plus"></i>
		</button></center>
		<div class="list card" ng-repeat="tema in temas">
			<div class="item item-divider">
				<center><h2>{{tema.nombre}}</h2></center>
			</div>
			<div class="item item-text-wrap">
				<center><img class="img-Tema" src="/img/margarito.jpg"></center>
			</div>
			<div class="item item-divider">
				<div class="row" align="center">
			    	<div class="col">
			    		<button class="button button-royal">
			    			<i class="icon ion-wand"></i>
			    		</button>
			    	</div>	
			    	
			    	<div class="col">
					    <button class="button button-positive">
					   		<i class="icon ion-edit"></i>
					   	</button>
				   	</div>
				   	<div class="col">
					   	<button class="button button-assertive">
					   		<i class="icon ion-trash-b"></i>
				    	</button>
				    </div>
			    </div>				
			</div>
		</div>
	</ion-content>
</ion-view>