<ion-view view-title="Editar Usuarios">
  <ion-content>
  	<div class="list list-inset">
	  <label class="item item-input">
	    <i class="icon ion-search placeholder-icon"></i>
	    <input type="text" placeholder="Search">
	  </label>
	</div>
	<center><button class="button btn-add2 button-balanced">
		<i class="icon ion-plus"></i>
	</button></center>
  	<div class="list card" >
  		<div class="item item-text-wrap" align="center" ng-repeat="usuario in usuarios">	  				
  			<div class="row">	
  				<div class="col"><img class="img-Edit" src="/img/margarito.jpg"></div>
		    	<div class="col"><h3>{{usuario.nombre}}</h3></div>
				<div class="col">
					<button class="button button-positive">
				   		<i class="icon ion-edit"></i>
				   	</button> </div>
				<div class="col"><button class="button button-assertive">
				   		<i class="icon ion-trash-b"></i>
			    	</button> </div>
			</div>
	  	</div>
  	</div>
  </ion-content>
</ion-view>