<ion-view view-title="Usuario">
  <ion-content>
    <div class="card">
    	<div class="item item-text-wrap">
            <button class="button btn-Pic button-positive">
                <i class="icon ion-edit"></i>
            </button>
    		<img class="full-image" src="/img/margarito.jpg">
    	</div>
    	<div class="item item-divider">
            <div class="list">
              <label class="item item-input item-stacked-label">
                <span class="input-label">Nombre</span>
                <input type="text" placeholder="John">
              </label>
              <label class="item item-input item-stacked-label">
                <span class="input-label">Usuario</span>
                <input type="text" placeholder="jsantiago">
              </label>
              <label class="item item-input item-stacked-label">
                <span class="input-label">Contraseña</span>
                <input type="text" placeholder="password">
              </label>
              <label class="item item-input item-stacked-label">
                <span class="input-label">Email</span>
                <input type="text" placeholder="john@suhr.com">
              </label>
              <label class="item item-input item-stacked-label">
                <span class="input-label">Teléfono</span>
                <input type="text" placeholder="3310485946">
              </label>
            </div>
            <center><button class="button btn-circled button-balanced"><i class="icon ion-ios-checkmark-outline"></i></button></center>
    	</div>	
    </div>

  </ion-content>
</ion-view>