<ion-view view-title="Editar Usuarios">
  <ion-content>

  		<div class="list" >
  			<a class="item item-avatar-left" ng-repeat="usuario in usuarios">
	  			<img src="/img/margarito.jpg">
	  			<div align="left">
			    	<h2>{{usuario.nombre}}</h2>
				</div>
				<div align="right">
					<i class=" ion-edit"></i>
						<i class=" ion-trash-b"></i>
				</div>
		    <!--<a class="button button-icon button-clear" href="#/app/usuarios/{{usuario.id}}"> -->
		    	 <!--</a>
	        
	        <a class="button button-icon button-clear"> -->
	        	
	        <!--</a>-->
	        </a>
  		</div>
  </ion-content>
</ion-view>