/* Empty. Add your own CSS if you like */
#category {
	width: auto;
	margin-top: 15px;
	margin-right: 20px;
	margin-left: 20px;
	

}

#mainList {
	margin-left: 20px ;
	margin-right: 20px ;
}

#usuariosItem {
	margin-left: 20px;
	margin-right: 20px;
}

.prod {
	width: 30px;
	height: 30px;
	
}

.edit-delete-btn{
	
}

.img-Edit{
	width: 40px;
	height: 40px;
}