/* Empty. Add your own CSS if you like */
#category {
	width: auto;
	margin-top: 15px;
	margin-right: 20px;
	margin-left: 20px;
	

}

#mainList {
	margin-left: 20px ;
	margin-right: 20px ;
}

#usuariosItem {
	margin-left: 20px;
	margin-right: 20px;
}

#shoppingBtn{
	margin-right: 5px;
}

.prod {
	width: 30px;
	height: 30px;
	
}

.edit-delete-btn{
	
}

.img-Edit{
	width: 50px;
	height: 50px;
	border-radius: 50% !important;
}

.img-Tema{
	width: 80px;
	height: 80px;
}

.btn-add{
	top:10px !important;
	border-radius: 50% !important;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26) !important;
}

.btn-add2{
	
	margin-top: -10px;
	border-radius: 50% !important;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26) !important;
}